<nav id="Menu">
    <div id="Main_Menu">
        <div id="Left_Menu">
            <div id="nVar_Menu"><span>Danh mục sản phẩm</span></div>
            <div id="Content_Menu">
                <ul class="ul1">
                    @Html.Raw(ViewBag.chuoi)
                    
                </ul>
            </div>
        </div>
        <div id="Right_Menu">
            <ul>
                <li> <a href="/" title="Trang chủ">Trang chủ</a></li>
                <li> <a href="/Gioi-thieu" title="Giới thiệu">Giới thiệu</a></li>
                <li> <a href="/0/Tin-tuc" title="Tin tức">Tin tức</a></li>
                <li> <a href="/0/Tuyen-dung" title="tuyển dụng">Tuyển dụng nhân sự</a></li>
                <li class="no"> <a href="/He-thong-phan-phoi" title="Hệ thống phân phối">Hệ thống phân phối</a></li>
                <li class="no"> <a href="/0/Chinh-sach-dich-vu" title="Chính sách dịch vụ">Chính sách dịch vụ</a></li>
                <li class="no"> <a href="/Lien-he" title="Liên hệ">Liên hệ</a></li>
            </ul>
        </div>
        <div class="Clear"></div>
    </div>
</nav>
